* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #474787;
  color: whitesmoke;
  overflow: hidden;
  min-height: 100vh;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: #aaa69d;
}

button {
  background-color: transparent;
  color: inherit;
  font-weight: bold;
  font-size: medium;
  border: 0;
  outline: 0;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  width: 160px;
  cursor: pointer;
  transition: all 200ms ease;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/user/wsanter');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex: 1;
  padding: 2rem;
}


nav {
  background-color: #2c2c54;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .nav-links {
    margin-top: 0;
  }
}

section {
  padding: 2rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  height: 100%;
  margin-top: 2rem;

  input {
    color: wheat;
    border: 2px solid sandybrown;
    border-radius: 3px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
  }

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: lightgreen;
    color: darkgreen;

    &:hover {
      background-color: lime;
    }
  }
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #474787;

  button {
    background-color: lightsalmon;
    color: darkred;

    &:hover {
      background-color: salmon;
    }
  }
}